body {
    /*font-size: 15pt;*/
}
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.sidebar {
	width:15vw;
	background-color: #f0f0f0;
	padding:5px;
	position: fixed;
	top: 0;
	left: 0;
	padding-top:5vh;
    padding-bottom:50vh;
	height:1000vh;
}
.sidebar i{
	color:grey;
	margin-right:1vw;
}
.sidebar a{color:black;}
.sidebar li{
	text-align:left;
}

.logo {
	margin: 1vh 1vw 2vh 1vw;
}

.logo img {
	width: 50%;
	height: auto;
}
span img{border-radius:100%;
margin-top:1vh;
width:15%;
height:15%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.sidebar li{color:grey}
#sidebar-footer{margin-left:0.5vw;
margin-top:0.5vh;}
#sidebar-footer img{
	margin-top:3vh;
	width: 28%;
	height:28%;
	border-radius:100%;
}
#sidebar-footer p{margin-top:-2vh;}

li {
	margin-bottom: 10px;
}

li a {
	text-decoration: none;
	color: #337ab7;
}

li a:hover {
	color: #23527c;
}
nav,#report-nav,#reportsub-nav ul{display:flex;
  flex-direction:row;
justify-content: space-between;
}
nav{margin-left:7vw;}
nav span{display:flex;
  flex-direction:row;
}
nav img{
  width:15%;
  height:15%;
}
nav input{min-height:2vh;}

#main-content,#report-nav,#reportsub-nav{
	margin-left:10vw;
	padding: 20px;
	min-width:auto;
}
/*admin overview dashboard styling*/

.overview{display:flex;
flex-direction:column;}
.overview span{display:flex;
flex-direction:row;
justify-content:space-around;}
.overview img{
	border-radius: 3px;
	min-width:15vw;
}
.overviewImg img{min-width:30vw;}
.overviewImg{display:flex;
	flex-direction:row;
	justify-content:space-between;}
#others{
  margin-top:20vh;
}
.sidebar span{display:flex;
  flex-direction:row;
}
#sidebar-footer{
    margin-bottom:30vh;
}
/*overview styling*/
#overview{
    margin:auto;
    display:flex;
    flex-direction:column;
    padding-left:5vw;
}

#overviewspan button{width:5vw;}
/*report feedback dashboard */
#reportsub-nav{
	display:flex;
	flex-direction:column;
}
.some-btn,#rsub-nav{display:flex;
flex-direction:row;}
#rsub-nav{justify-content:space-between;}
#report-nav{max-height:3vh;
	margin-top:auto;
	margin-left:5vw;
margin-bottom:auto;}
#reportsub-nav{margin-left:5vw;}
#report-nav input{border-radius:3px;}
/*saturday update*/
#main-content input{max-height:4vh;
padding:auto;
margin-top:3.5vh;
border:1px solid rgb(199, 192, 192);
border-radius:3px;}
#overview h2{margin-left:2vw;}
nav h2,#h2{color:rgb(212, 208, 208);}
